/* Body format */
body{position:relative}

/* Pictures */
img.HomepagePictures{padding-bottom:35px}
.centeredImage{padding:10px;display:block;margin-left:auto;margin-right:auto}

/* Logo */
#logo{width:500px;height:166px}

/* Site header */
#site-header h1,#site-header img,#site-footer{margin-left:auto;margin-right:auto}

/* Right Nav Menu */
#site-nav{margin-top:2em}

/* Footer */
#site-footer{padding-top:3em;padding-bottom:3em}
#main h1,#main h2,#main h3{margin-top:1.5em}
#main .well h1,#main .jumbotron h1,#main .well h2,#main .jumbotron h2,#main .well h3,#main .jumbotron h3{margin-top:0}

/* Weave your identity graphic */
#Weave{padding-bottom:25px}
