<!DOCTYPE html>
<html lang="en">
  
<!-- 
    Leave the following conditional comments as-is.  
    They're here for future maintenance, if you need to tweak for browser compatibility.
-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!-->
<!--<html class="no-js">-->
<!--<![endif]-->
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />

    <title>Grid Layout Template | Arachne Web Development</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrapARACHNE.css" rel="stylesheet"><link rel="stylesheet" href="index.css">
    <!-- The Bootstrap CSS annontated by Arachne Web Development is "bootstrapARACHNE.css".
    It's a good practice to make CSS files for each page, here "index.css". This will make it easier to track your changes and validate it later.
    (Particularly because Bootstrap has some code that isn't offically approved by the W3C, thus creating a bunch of false validation errors.
    Separate your code so you know what's your error and what's their's.)-->
      

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    

  </head>

  
  
  <body>
    <!-- 
        Tell people using old version of Internet Explorer 
        that 2001 called and wants its browser back.
    -->
    <!--[if lt IE 7]>
    <p class="browsehappy"
        >You are using an <strong>outdated</strong> browser. 
        Please <a href="http://browsehappy.com">upgrade your browser</a> 
        to improve your experience.
    </p>
    <![endif]-->
    
    <!--====================== NAVIGATION BAR ======================-->
    <!-- This part changes the name that appears in the upper left corner of your nav bar. Replace "My Portfolio" with your name! -->
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="index.html">Home</a></li><!-- The class is "active," because this is the page you're looking at right now. When you're working on other pages, be sure to check this part. If it's not the page you're on, delete class="active" and add it to the page you ARE on.-->
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
        <h3 class="nav"><a href="/index.html"><img src="./img/profile_icon.png" class="profile" alt="profile image" width="50" height="50">My Portfolio</h3></a>
      </div><!-- end header -->

      
    <!--====================== GRID LAYOUT ======================-->
    <div class="row"><!-- grid of nested columns/spans-->
          <div class="col-sm-12">
              <h1 style="text-align: center">Welcome to my online portfolio!</h1>
              <br>
                <!-- style="background-color: #d4de80"  is green -->
                <!-- style="background-color: #08b3bd"  is blue -->
                <!-- style="background-color: #faf6c6"  is yellow -->
              
              <!--============= THIS IS ROW #1. =================-->            
              <div class="row"><!-- row 1 -->
                  <div class="col-sm-4">
                    <p style="text-align: center">
                      <img src="./img/pen_graphic.png" alt="pen tool image" width="400" height="400">
                    </p>
                  </div>
                  
                  <div class="col-sm-8">
                        <h3>Introduce yourself! Start with a tagline.</h3>
                        <h4>What are you an expert in? What's one of your strongest skills? A soft skill? And finally, add an adjective about your personality.
                        After your tagline, you can go in more detail. Here's a good place for your personal statement! How would you describes your artistic career? List any outstanding accomplishments. These should show your greatest strengths. Are you working on any big projects currently? Anything you're interested in learning more about? Wrap up by inviting your viewer to browse your gallery or explore your website.
                        </h4>
                        <br>
                  </div>
              </div><!-- end row 1 -->
          
              <!--============= THIS IS ROW #2. =================-->
              <div class="section group"><!-- row 2 -->
              <!-- Here are the colored boxes of text from the first row. You'll want to keep the amount of text the same so that your columns stay the same height.-->
                  <div class="col span_1_of_4" style="background-color: #d4de80"><!--green-->
                      <h4 style="text-align: center">Subheading</h4>
                      <p style="text-align: center">Etiam facilisis, erat eu luctus porta, neque sem semper mauris, sed pharetra dolor lacus sit amet nisi. Vestibulum amet. </p>
                  </div>
                  
                  <div class="col span_1_of_4" style="background-color: #08b3bd"><!--blue-->
                      <h4 style="text-align: center">Subheading</h4>
                      <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae pretium nisi. Quisque nec rhoncus <a href="#">nunc</a>.</p>
                  </div>
                  
                  <!-- UNICODE CHARACTER ICON -->
                  <div class="col span_1_of_4" style="background-color: #faf6c6"><!--yellow-->
                     <p class="huge_icons">&#9660;</p> 
                  </div>
                  
                  <div class="col span_1_of_4" style="background-color: #d4de80"><!--green-->
                        <h4 style="text-align: center">Subheading</h4>
                        <p style="text-align: center">Vivamus id libero nisl. Phasellus vestibulum pellentesque tortor fringilla sagittis. Nam sit amet est pellentesque <a href="#">amet</a>. </p>
                  </div>
              </div><!-- end row 2 -->

              <!--============= THIS IS ROW #3. =================-->
              <div class="section group"><!-- row 3 -->
                  <!-- UNICODE CHARACTER ICON -->
                  <div class="col span_1_of_3" style="background-color: #faf6c6"><!--yellow-->
                      <p class="huge_icons" style="color: #08b3bd"> &#9715;</p>
                  </div>
                  
                  <div class="col span_1_of_3" style="background-color: #d4de80"><!--green-->
                      <h4 style="text-align: center">Subheading</h4>
                      <p style="text-align: center">Vestibulum eu enim scelerisque, scelerisque nisl ut, consequat turpis. Nam id feugiat orci. Etiam imperdiet massa neque. Donec eget purus eget lacus massa nunc. </p>
                  </div>
                  
                  <div class="col span_1_of_3" style="background-color: #faf6c6"><!--yellow-->
                      <h4 style="text-align: center">Subheading</h4>
                      <p style="text-align: center">Praesent scelerisque arcu feugiat, aliquam nisi at, consectetur velit. Vivamus tempus viverra urna sit amet consectetur. Cras consectetur eget magna non nullam. </p>
                  </div> 
              </div><!-- end row 3 -->
              
              <!--============= THIS IS ROW #4. =================-->
              <div class="section group"><!-- row 4 -->
                  <div class="col span_1_of_2" style="background-color: #d4de80"><!--green-->
                      <h4 style="text-align: center">Subheading</h4>
                      <p style="text-align: center">Sed pellentesque molestie leo, in pretium leo scelerisque ut. Proin eleifend vehicula bibendum. Aenean scelerisque porta erat. Pellentesque tempus gravida aliquam. Nullam rutrum sit posuere. </p>
                      <p style="text-align: center"><a class="btn btn-lg btn-primary" href="about.html" role="button">Read more</a></p><!-- Right now, this button leads to your About page. You can change the link in the href tag to go elsewhere.-->
                  </div>
                  
                  <div class="col span_1_of_2" style="background-color: #08b3bd"><!--blue-->
                      <h4 style="text-align: center">Subheading</h4>
                      <p style="text-align: center">Suspendisse nec neque tincidunt, convallis nulla quis, tincidunt velit. Quisque dignissim arcu quis metus lobortis, eget ornare quam venenatis. Nulla facilisi. Praesent ut diam dui. Sed nisi diam, scelerisque massa nunc. </p>
                      <p style="text-align: center"><a class="btn btn-lg btn-success" href="Sample_DOC.txt" role="button" target="blank">Download .DOC</a> <a class="btn btn-lg btn-success" href="Sample_PDF.pdf" role="button" target="blank">Download .PDF</a></p>
                  </div>
              </div><!-- row 4 -->
            
              
          </div><!--end span12-->
    </div><!--end nested grid-->
    <br>
    <br>
    <br>
      


      <!-- Be sure to Ctrl+F "_replace_this_name_" and fill it in! -->
      <div class="footer">
      <footer class="footer">
          <div class="container">
            <h5 class="pull-right"><a href="#">Back to top</a></h5>
            <h5>&#60;Your name here.&#62;  Contact me at <a href="mailto:__fill_in_the_blank___">&#60;Your email address here&#62;</a>.  &nbsp;| &nbsp;
            <a href="https://twitter.com/_replace_this_name_" target="_blank" data-link-color="#0069D6" data-show-count="false">&#64;&#60;Your Twitter name here&#62;</a></h5>
            <p>Site built on <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.
            Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
            Site prepared by <a href="https://umd-arachne.github.io/">Arachne Web Development</a>.</p>
          </div>
    </footer>
    
    </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    
  </body>
</html>
