@charset 'UTF-8';

body 
{
    background: top left white url('/img/BodyPaint.png') repeat !important;
}

#logo 
{
    /* half the actual size */
    width:  500px;
    height: 166px;
}


.centeredImage 
{
        padding:        10px;
        display:        block;
        margin-left:    auto;
        margin-right:   auto;
}

#site-header
{}
    
#site-header h1,
#site-header img,
#site-footer
{
    text-align:     center;
    /*  
        Using "margin-left:auto" and "margin-right:auto" 
        means "center this block element (horizontally)" 
    */
    margin-left:    auto;
    margin-right:   auto;
}

#site-nav
{
    /* let the top of the page breathe */
    margin-top:     2em;
}

#site-footer
{
    /* let the bottom of the page breathe */
    padding-top:    3em;
    padding-bottom: 3em;
}

#main h1,
#main h2,
#main h3
{
    margin-top: 1.5em; /* add whitespace before major headings */
}


/* 
 * Placeholder Images 
 */
#Weave 
{
    padding-bottom: 25px;
}


img.HomepagePictures 
{
    padding-bottom: 35px;
    border:         thin solid black;
}

/*
 * Links 
 */
a
{
    color:              #309;
    text-decoration:    none;
}

a:hover,
a:focus,
a:active
{
    color:              #306;
    text-decoration:    underline;
}
    

/*
 * Side navigation 
 */
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge 
{
    color:            #000;
    background-color: #fff;
}

a.list-group-item 
{
    color: #555;
}

a.list-group-item:hover,
a.list-group-item:focus 
{
    color:            white;
    text-decoration:  none;
    background-color: #309;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus 
{
    z-index:          2;
    color:            #fff;
    background-color: #eee;
    border-color:     #428bca;
}