@css {
@import 'layout.css';
@import 'colors.css';
@import 'typography.css';
}

body
    background-image        url('../img/bg/paint-splatter.png') !important
    background-attachment   fixed
    background-origin       border-box
    background-size         cover
    
img.HomepagePictures
    border-width    thin
    border-style    solid

/*!
 *  CSS transitions for all links
 */
a
    /*! style the most commonly-used properties */
    transition-property         color, background-color, opacity, text-decoration, text-shadow, box-shadow, transform, scale
    transition-duration         0.25s
    transition-timing-function  ease-out

#site-header a[rel=Home]
    transition-property transform, -webkit-transform, -ms-transform, -moz-transform, -o-transform
    transition-duration 1s
    transition-timing-function ease-in-out
    
    &:hover
    &:active
    &:focus
        transform scale(1.1) !important
        

#site-nav
    ul.nav.nav-pills.nav-stacked
        
        /*! round the outermost corners of the first and last nav items */
        & > li
            & > a
                border-radius   0
            &:first-child > a
                border-radius   4px 4px 0 0
            &:last-child > a
                border-radius   0 0 4px 4px
        
        /* second-level links */
        ul
            display                     none
            transition-property         display, opacity
            transition-duration         0.25s
            transition-timing-function  ease-out
            
        .active ul
            display block
            
#main
    li
    dl
        &.row
            vertical-align top
            padding-top 0