$helveticaNeueCondensedBold = "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;

/*!
 *  Helvetica Neue Condensed Bold: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
 */


/*!
 *------------------------------------------
 *  SITE HEADER
 *------------------------------------------
 */
#site-header 
    h1
    img
        text-align      center
            


/*!
 *------------------------------------------
 *  MAIN NAVIGATION
 *------------------------------------------
 */
#site-nav
    ul
        font-family     $helveticaNeueCondensedBold
        font-weight     600
        font-stretch    condensed
        font-size       large

        a:hover
        a:active
        a:focus
            text-decoration none


/*!
 *------------------------------------------
 *  MAIN CONTENT
 *------------------------------------------
 */
#main
    a
        text-decoration none

        &:hover
        &:focus
        &:active
            text-decoration underline
    
    header
        a
            &:hover
            &:focus
            &:active
                text-decoration none

    h1
    h2
    h3
    h4
    h5
    h6
        font-family     $helveticaNeueCondensedBold
        font-weight     600
        font-stretch    condensed
    
    p
        max-width   100ex
    
    .jumbotron
        h1
            font-size 48px

/*!
 *------------------------------------------
 *  SITE FOOTER
 *------------------------------------------
 */    
#site-footer
    text-align      center